.nav {
    grid-area: n;
    background-color: rgb(165, 14, 140);
    padding: 20px;
  }

.item {
    color: white;
    text-decoration: none;
}

.activeLink {
  color: gold;
  text-decoration: none;
}

.settings {
  margin: 40px 0 0 0;
}

.friends {
  color: white;
  margin: 40px 0 0 0;
}

.friends_item {
  display: flex;
  justify-content: space-between;
  color: white;
}